<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503334978722-fqhq9tk2rsa7pqr1m27k00srf75d561c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503334978722-fqhq9tk2rsa7pqr1m27k00srf75d561c</string>
	<key>API_KEY</key>
	<string>AIzaSyDjCir1UFyxPGePXeAsQbVLA_-eWMvYAU8</string>
	<key>GCM_SENDER_ID</key>
	<string>503334978722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zero-Technologies.Spend---Share</string>
	<key>PROJECT_ID</key>
	<string>spend-and-share</string>
	<key>STORAGE_BUCKET</key>
	<string>spend-and-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503334978722:ios:a9efb20cd7ca94366643fb</string>
	<key>DATABASE_URL</key>
	<string>https://spend-and-share.firebaseio.com</string>
</dict>
</plist>